
@{
    ViewBag.Title = "Yarn";

    <link rel="stylesheet" type="text/css" href="~/web/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/cart.css">
    <script src="~/Web/js/cart.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          crossorigin="anonymous">
}
<br />
<br />
<br />
<br />
<section class="container content-section">
    <h2 class="section-header">Yarns</h2>
    <div class="shop-items">
        <div class="shop-item">
            <span class="shop-item-title">Yarns1</span>
            <img class="shop-item-image" src="~/web/Images/yarn/Yarn1.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">$12.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Yarns2</span>
            <img class="shop-item-image" src="~/web/Images/yarn/Yarn2.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">$14.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Yarns3</span>
            <img class="shop-item-image" src="~/web/Images/yarn/Yarn3.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">$9.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Yarns4</span>
            <img class="shop-item-image" src="~/web/Images/yarn/Yarn4.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">$19.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Yarns5</span>
            <img class="shop-item-image" src="~/web/Images/yarn/Yarn5.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">$19.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Yarns6</span>
            <img class="shop-item-image" src="~/web/Images/yarn/Yarn6.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">$19.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Yarns7</span>
            <img class="shop-item-image" src="~/web/Images/yarn/Yarn7.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">$19.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Yarns8</span>
            <img class="shop-item-image" src="~/web/Images/yarn/Yarn8.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">$19.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Fabric9</span>
            <img class="shop-item-image" src="~/web/Images/fabric/Fabric9.jpg">
            <div class="shop-item-details">
                <span class="shop-item-price">$19.99</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
    </div>
</section>

