@model BSLWeb.Models.clsCustomize

@{
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Home/LogIn");
    }
}

@{
    ViewBag.Title = "Yarn";
    <link rel="stylesheet" type="text/css" href="~/Web/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Web/css/cart.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <script src="~/Web/js/sweetalert.min.js"></script>

    <script type="text/javascript">
        function Fn_GetCount_Item() {

            var clsRequestProduct = {};
            clsRequestProduct.vCustomerId = $('#strUserId').val();
            $.ajax({
                type: "POST",
                url: '/Product/Fn_Get_Count_Cart_Item',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsRequestProduct),
                success: function (data) {
                    var pcount = data.message;
                    if (data.success == true) {
                        $('#Allcart').html(pcount);
                    }
                    else {
                        alert('Customize data Not Added')
                    }
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        $(document).ready(function () {
            Fn_GetCount_Item();
        });
    </script>

    <script type="text/javascript">
        function Fn_Get_Yarn_Count_Item() {

            var clsRequestProduct = {};
            clsRequestProduct.vCustomerId = $('#strUserId').val();
            $.ajax({
                type: "POST",
                url: '/Product/Fn_Get_Count_Cart_Item',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsRequestProduct),
                success: function (data) {
                    var pcount = data.message;
                    if (data.success == true) {
                        $('#Allcart').html(pcount);
                    }
                    else {
                        alert('Customize data Not Added')
                    }
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        //$(document).ready(function () {
        //    Fn_GetCount_Item();
        //});

        function insert_yarncart(id) {

            var clsRequestProduct = {};
            var nameProduct = $('.shop-item-title').html();
            var myString = $('.shop-item-price').html();;
            var myNewString = myString.replace("$", "");
            //debugger;
            clsRequestProduct.vCategory = 'Yarn';
            clsRequestProduct.nProductId = id;
            clsRequestProduct.vProductName = nameProduct;
            clsRequestProduct.nPly = '3';
            //02 March 2023
            clsRequestProduct.nCount = '50';
            clsRequestProduct.vCountType = 'NE';
            clsRequestProduct.vBlendDescription = 'POLY/VISCOSE';
            clsRequestProduct.vTechnique = 'Ring Spun';
            //02 March 2023
            clsRequestProduct.vSize = 'S';
            clsRequestProduct.vPrice = myNewString;
            clsRequestProduct.vQuality = 1;
            clsRequestProduct.bIsStatus = false;

            if (clsRequestProduct.vSize === undefined) {
                swal(nameProduct, "Please Select Size", "Success");
            } else {
                debugger;
                $.ajax({
                    type: "POST",
                    url: '/Product/Fn_Yarn_Insert_Cart',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsRequestProduct),
                    success: function (Result) {
                        if (Result.success == true) {
                            Fn_GetCount_Item();
                            swal(nameProduct, "is added to Cart!", "success");
                        }
                        else {
                            swal(nameProduct, "No Stock left!", "error");
                        }
                    }
                });
            }
        }

    </script>
}
<br />
<br />
<br />
<br />
<section class="container content-section">
    <h2 class="section-header">Yarns</h2>

    <div class="multidropdown">
        @*<select name="gdtype" id="gdtype" class="gdtypedropdown">
                <option value="gd">GD Type</option>
                <option value="Dyed">Dyed</option>
                <option value="Greige">Greige</option>
                <option value="Grindle">Grindle</option>
            </select>

            <select name="ply" id="ply" class="plydropdown">
                <option value="ply">Ply</option>
                <option value="Single">Single</option>
                <option value="Ring Double">Ring Double</option>
                <option value="TFO Double">TFO Double</option>
            </select>

            <select name="count" id="count" class="countdropdown">
                <option value="count">Count</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="48">48</option>
                <option value="50">50</option>
                <option value="60">60</option>
            </select>

            <select name="counttype" id="counttype" class="counttypedropdown">
                <option value="counttype">Count Type</option>
                <option value="NE">NE</option>
                <option value="NM">NM</option>
                <option value="TEX">TEX</option>
            </select>

            <input list="blendDescription" id="blend" name="blend" placeholder="Type Here Blend Description..." class="blenddescription" />
            <datalist id="blendDescription">
                <option value="ACRYLIC">
                <option value="ACRYLIC/VISCOSE/LYCRA">
                <option value="ACRYLIC/VISCOSE/POLYESTER">
                <option value="AIRTHERM/KOOLTEX/VISCOSE/LYCRA">
                <option value="BAMBOO">
                <option value="BAMBOO/VISCOSE">
                <option value="CAT POLY/VIS/POLY">
                <option value="COTLUK/LOOLTEX/VIS">
                <option value="COTTON">
                <option value="COTTON/ACRYLIC/NAYLON">
                <option value="COTTON/LYCRA">
                <option value="COTTON/LYOCEL">
                <option value="COTTON/NYLON/ACRYLIC">
                <option value="COTTON/SPANDEX">
                <option value="EXCEL/COTTON/TEX">
                <option value="EXCEL/LINEN/TEX">
                <option value="EXCELL">
                <option value="EXCELL X COTTON">
                <option value="EXCELL X LINEN">
                <option value="EXCELL X TENCIL">
                <option value="EXCELL/COTTON/SPANDEX">
                <option value="LENOCEL EXCEL/LINEN">
                <option value="LINEN/POLY/WOOL">
                <option value="LINEN/VISCOSE">
                <option value="LYOCELL">
                <option value="LYOCELL/COTTON">
                <option value="MODACRYLIC/COTTON">
                <option value="MODACRYLIC/COTTON/ANTICS">
                <option value="MODACRYLIC/POLYESTER">
                <option value="MODAL">
                <option value="MODAL/COTTON/LYCRA">
                <option value="MODAL/LYCRA">
                <option value="MODAL/POLYESTER">
                <option value="MODAL/SPANDEX">
                <option value="NOMEX">
                <option value="NOMEX/PARA">
                <option value="NOMEX/PARA/ANTISTATIC">
                <option value="NOMEX/VISCOSE">
                <option value="NYLON">
                <option value="NYLON/EXCEL">
                <option value="NYLON/SPANDEX">
                <option value="NYLON/VISCOSE/LYCRA">
                <option value="POLY/COTTON">
                <option value="POLY/COTTON/ELASTIC">
                <option value="POLY/COTTON/SPANCEX">
                <option value="POLY/COTTON/TEX">
                <option value="POLY/EXCEL/LYCRA">
                <option value="POLY/KOOLTEX/VIS">
                <option value="POLY/LILAN/COTTON">
                <option value="POLY/LINEN/WOOL">
                <option value="POLY/RAYON/LYCRA">
                <option value="POLY/TEX/VISCOSE">
                <option value="POLY/VIS/AIRTHERM">
                <option value="POLY/VIS/AIRTHERM/LY">
                <option value="POLY/VIS/COTTON">
                <option value="POLY/VIS/COTTON/LY">
                <option value="POLY/VIS/COTTON/TEX">
                <option value="POLY/VIS/ELASTIC">
                <option value="POLY/VIS/LYCRA">
                <option value="POLY/VIS/SPANDEX">
                <option value="POLY/VIS/TEX/LYCRA">
                <option value="POLY/VISCOSE">
                <option value="POLY/WOOL">
                <option value="POLY/WOOL/ACETATE">
                <option value="POLYESTER">
                <option value="POLYESTER/COOLMAX/VISCOSE/ELASTANE">
                <option value="POLYESTER/COOLMAX/VISCOSE/LYCRA">
                <option value="POLYESTER/COTTON/VISCOSE">
                <option value="POLYESTER/CREORA SIRO">
                <option value="POLYESTER/ELASTIC">
                <option value="POLYESTER/HEMP">
                <option value="POLYESTER/LINEN/SPANDEX">
                <option value="POLYESTER/NYLON/WOOL">
                <option value="POLYESTER/NYLON/WOOL/LYCRA">
                <option value="POLYESTER/VISCOSE/ACRYLIC">
                <option value="POLYESTER/VISCOSE/LINEN/LYCRA">
                <option value="POLYESTER/VISCOSE/SORONA">
                <option value="POLYESTER/WOOL/NYLON">
                <option value="POLYTESTER/TENCEL">
                <option value="SORONA/LINEN/WOOL">
                <option value="SORONA/VISCOSE/LINEN">
                <option value="TENCEL MODAL">
                <option value="TEX/POLYESTER/VISCOSE">
                <option value="VIS/CASHMERE">
                <option value="VIS/NYLON/POLY">
                <option value="VISCOSE">
                <option value="VISCOSE/ACRYLIC">
                <option value="VISCOSE/COTTON">
                <option value="VISCOSE/COTTON/SPANDEX">
                <option value="VISCOSE/LYOCELL">
                <option value="VISCOSE/MODAL/LYCRA">
                <option value="VISCOSE/POLYESTER/ACRYLIC/LYCRA">
                <option value="VISCOSE/LYOCELL">
                <option value="VISCOSE/MODAL/LYCRA">
                <option value="VISCOSE/POLYESTER/ACRYLIC/LYCRA">
                <option value="VISCOSE/POLYESTER/LYCRA">
                <option value="W/P/ZENTA">
                <option value="W/P/ZENTA/LYCRA">
                <option value="WOOL">
                <option value="WOOL/POLY/NAYLON/LYCRA">
                <option value="WOOL/POLY/NYLON">
                <option value="WOOL/POLY/SILK">
                <option value="WOOL/POLY/VIS/LYCRA">
                <option value="WOOL/POLYESTER/SORONA">
                <option value="WOOL/SORONA">
                <option value="WOOL/SORONA/POLYESTER">
                <option value="WOOL/VISCOSE/ACRYLIC">
            </datalist>

            <select name="slub" id="slub" class="slubdropdown">
                <option value="slub">Slub</option>
                <option value="CENTURY SLUB">CENTURY SLUB</option>
                <option value="INJECTION SLUB">INJECTION SLUB</option>
                <option value="NANO SLUB">NANO SLUB</option>
                <option value="SLUB">SLUB</option>
                <option value="TWO TONE SLUB">TWO TONE SLUB</option>
            </select>

            <select name="technique" id="technique" class="techniquedropdown">
                <option value="technique">Technique</option>
                <option value="Ring Spun">Ring Spun</option>
                <option value="Compact">Compact</option>
            </select>

            <select name="quality" id="quality" class="qualityyarndropdown">
                <option value="quality">Quality</option>
                <option value="Solid">Solid</option>
                <option value="Milanche">Milanche</option>
                <option value="Lycre">Lycre</option>
                <option value="TBL Frosted">TBL Frosted</option>
            </select>

            <button type="submit" class="searchbutton"><i class="fa fa-search"></i></button>*@

        <!-- <button type="submit" class="customizedbutton" id="mybtn" onclick="myform(1)">Customized Fabric</button> -->

        <button type="submit" class="customizedbutton" id="mybtn">Customized Yarn</button>

    </div>

    <br />
    <hr />

    <div id="hide">
        <div class="shop-items">
            <div class="shop-item">
                <span class="shop-item-title">Yarns1</span>
                <img class="shop-item-image" src="~/Web/Images/yarn/Yarn1.jpeg">
                <div class="shop-item-details">
                    <span class="shop-item-price">$12.99</span>
                    <button class="btn btn-primary shop-item-button" onclick="insert_yarncart(1);" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Yarns2</span>
                <img class="shop-item-image" src="~/Web/Images/yarn/Yarn2.jpeg">
                <div class="shop-item-details">
                    <span class="shop-item-price">$14.99</span>
                    <button class="btn btn-primary shop-item-button" onclick="insert_yarncart(2);" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Yarns3</span>
                <img class="shop-item-image" src="~/Web/Images/yarn/Yarn3.jpeg">
                <div class="shop-item-details">
                    <span class="shop-item-price">$9.99</span>
                    <button class="btn btn-primary shop-item-button" onclick="insert_yarncart(3);" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Yarns4</span>
                <img class="shop-item-image" src="~/Web/Images/yarn/Yarn4.jpeg">
                <div class="shop-item-details">
                    <span class="shop-item-price">$19.99</span>
                    <button class="btn btn-primary shop-item-button" onclick="insert_yarncart(4);" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Yarns5</span>
                <img class="shop-item-image" src="~/Web/Images/yarn/Yarn5.jpeg">
                <div class="shop-item-details">
                    <span class="shop-item-price">$19.99</span>
                    <button class="btn btn-primary shop-item-button" onclick="insert_yarncart(5);" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Yarns6</span>
                <img class="shop-item-image" src="~/Web/Images/yarn/Yarn6.jpeg">
                <div class="shop-item-details">
                    <span class="shop-item-price">$19.99</span>
                    <button class="btn btn-primary shop-item-button" onclick="insert_yarncart(6);" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Yarns7</span>
                <img class="shop-item-image" src="~/Web/Images/yarn/Yarn7.jpeg">
                <div class="shop-item-details">
                    <span class="shop-item-price">$19.99</span>
                    <button class="btn btn-primary shop-item-button" onclick="insert_yarncart(7);" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Yarns8</span>
                <img class="shop-item-image" src="~/Web/Images/yarn/Yarn8.jpeg">
                <div class="shop-item-details">
                    <span class="shop-item-price">$19.99</span>
                    <button class="btn btn-primary shop-item-button" onclick="insert_yarncart(8);" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Yarns9</span>
                <img class="shop-item-image" src="~/Web/Images/yarn/Yarn9.jpeg">
                <div class="shop-item-details">
                    <span class="shop-item-price">$19.99</span>
                    <button class="btn btn-primary shop-item-button" onclick="insert_yarncart(9);" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Yarns10</span>
                <img class="shop-item-image" src="~/Web/Images/yarn/Yarn10.jpeg">
                <div class="shop-item-details">
                    <span class="shop-item-price">$19.99</span>
                    <button class="btn btn-primary shop-item-button" onclick="insert_yarncart(10);" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Yarns11</span>
                <img class="shop-item-image" src="~/Web/Images/yarn/Yarn11.jpeg">
                <div class="shop-item-details">
                    <span class="shop-item-price">$19.99</span>
                    <button class="btn btn-primary shop-item-button" onclick="insert_yarncart(11);" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Yarns12</span>
                <img class="shop-item-image" src="~/Web/Images/yarn/Yarn12.jpeg">
                <div class="shop-item-details">
                    <span class="shop-item-price">$19.99</span>
                    <button class="btn btn-primary shop-item-button" onclick="insert_yarncart(12);" type="button">ADD TO CART</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ---------- Cart Section --------- -->
<!-- <section class="container content-section">
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div> -->
<!-- <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button> -->
<!-- </section> -->

<div id="show" style="display: none;">
    <form id="myform" action="" method="POST">
        <table>
            <tr>
                <td>
                    <label class="labelclass">GD Type</label>
                </td>
                <td>
                    <!-- <select name="qualityno" id="qualityno" class="commondropdown"> -->
                    <select name="gdtype" id="gdtypedropdown" class="commonyarndropdown" onchange="updateGdType()">
                        <option selected value="">-- Select GD Type --</option>
                        <option value="Dyed">Dyed</option>
                        <option value="Greige">Greige</option>
                        <option value="Grindle">Grindle</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="txtGdType" value="" class="commontext">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="labelclass">Ply</label>
                </td>
                <td>
                    <select name="ply" id="plydropdown" class="commonyarndropdown" onchange="updatePly()">
                        <option selected value="">-- Select Ply --</option>
                        <option value="Single">Single</option>
                        <option value="Ring Double">Ring Double</option>
                        <option value="TFO Double">TFO Double</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="txtPly" value="" class="commontext">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="labelclass">Count</label>
                </td>
                <td>
                    <select name="count" id="countdropdown" class="commonyarndropdown" onchange="updateCount()">
                        <option selected value="">-- Select Count --</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="48">48</option>
                        <option value="50">50</option>
                        <option value="60">60</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="txtCount" value="" class="commontext">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="labelclass">Count Type</label>
                </td>
                <td>
                    <select name="counttype" id="counttypedropdown" class="commonyarndropdown" onchange="updateCountType()">
                        <option selected value="">-- Select Count Type --</option>
                        <option value="NE">NE</option>
                        <option value="NM">NM</option>
                        <option value="TEX">TEX</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="txtCountType" value="" class="commontext">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="labelclass">Blend Description</label>
                </td>
                <td>
                    <input list="blendDescription" id="blenddropdown" name="blend" placeholder="Type Here Blend Description..." class="commonyarndropdown" onchange="updateBlendDescription()" />
                    <datalist id="blendDescription">
                        <option value="ACRYLIC">
                        <option value="ACRYLIC/VISCOSE/LYCRA">
                        <option value="ACRYLIC/VISCOSE/POLYESTER">
                        <option value="AIRTHERM/KOOLTEX/VISCOSE/LYCRA">
                        <option value="BAMBOO">
                        <option value="BAMBOO/VISCOSE">
                        <option value="CAT POLY/VIS/POLY">
                        <option value="COTLUK/LOOLTEX/VIS">
                        <option value="COTTON">
                        <option value="COTTON/ACRYLIC/NAYLON">
                        <option value="COTTON/LYCRA">
                        <option value="COTTON/LYOCEL">
                        <option value="COTTON/NYLON/ACRYLIC">
                        <option value="COTTON/SPANDEX">
                        <option value="EXCEL/COTTON/TEX">
                        <option value="EXCEL/LINEN/TEX">
                        <option value="EXCELL">
                        <option value="EXCELL X COTTON">
                        <option value="EXCELL X LINEN">
                        <option value="EXCELL X TENCIL">
                        <option value="EXCELL/COTTON/SPANDEX">
                        <option value="LENOCEL EXCEL/LINEN">
                        <option value="LINEN/POLY/WOOL">
                        <option value="LINEN/VISCOSE">
                        <option value="LYOCELL">
                        <option value="LYOCELL/COTTON">
                        <option value="MODACRYLIC/COTTON">
                        <option value="MODACRYLIC/COTTON/ANTICS">
                        <option value="MODACRYLIC/POLYESTER">
                        <option value="MODAL">
                        <option value="MODAL/COTTON/LYCRA">
                        <option value="MODAL/LYCRA">
                        <option value="MODAL/POLYESTER">
                        <option value="MODAL/SPANDEX">
                        <option value="NOMEX">
                        <option value="NOMEX/PARA">
                        <option value="NOMEX/PARA/ANTISTATIC">
                        <option value="NOMEX/VISCOSE">
                        <option value="NYLON">
                        <option value="NYLON/EXCEL">
                        <option value="NYLON/SPANDEX">
                        <option value="NYLON/VISCOSE/LYCRA">
                        <option value="POLY/COTTON">
                        <option value="POLY/COTTON/ELASTIC">
                        <option value="POLY/COTTON/SPANCEX">
                        <option value="POLY/COTTON/TEX">
                        <option value="POLY/EXCEL/LYCRA">
                        <option value="POLY/KOOLTEX/VIS">
                        <option value="POLY/LILAN/COTTON">
                        <option value="POLY/LINEN/WOOL">
                        <option value="POLY/RAYON/LYCRA">
                        <option value="POLY/TEX/VISCOSE">
                        <option value="POLY/VIS/AIRTHERM">
                        <option value="POLY/VIS/AIRTHERM/LY">
                        <option value="POLY/VIS/COTTON">
                        <option value="POLY/VIS/COTTON/LY">
                        <option value="POLY/VIS/COTTON/TEX">
                        <option value="POLY/VIS/ELASTIC">
                        <option value="POLY/VIS/LYCRA">
                        <option value="POLY/VIS/SPANDEX">
                        <option value="POLY/VIS/TEX/LYCRA">
                        <option value="POLY/VISCOSE">
                        <option value="POLY/WOOL">
                        <option value="POLY/WOOL/ACETATE">
                        <option value="POLYESTER">
                        <option value="POLYESTER/COOLMAX/VISCOSE/ELASTANE">
                        <option value="POLYESTER/COOLMAX/VISCOSE/LYCRA">
                        <option value="POLYESTER/COTTON/VISCOSE">
                        <option value="POLYESTER/CREORA SIRO">
                        <option value="POLYESTER/ELASTIC">
                        <option value="POLYESTER/HEMP">
                        <option value="POLYESTER/LINEN/SPANDEX">
                        <option value="POLYESTER/NYLON/WOOL">
                        <option value="POLYESTER/NYLON/WOOL/LYCRA">
                        <option value="POLYESTER/VISCOSE/ACRYLIC">
                        <option value="POLYESTER/VISCOSE/LINEN/LYCRA">
                        <option value="POLYESTER/VISCOSE/SORONA">
                        <option value="POLYESTER/WOOL/NYLON">
                        <option value="POLYTESTER/TENCEL">
                        <option value="SORONA/LINEN/WOOL">
                        <option value="SORONA/VISCOSE/LINEN">
                        <option value="TENCEL MODAL">
                        <option value="TEX/POLYESTER/VISCOSE">
                        <option value="VIS/CASHMERE">
                        <option value="VIS/NYLON/POLY">
                        <option value="VISCOSE">
                        <option value="VISCOSE/ACRYLIC">
                        <option value="VISCOSE/COTTON">
                        <option value="VISCOSE/COTTON/SPANDEX">
                        <option value="VISCOSE/LYOCELL">
                        <option value="VISCOSE/MODAL/LYCRA">
                        <option value="VISCOSE/POLYESTER/ACRYLIC/LYCRA">
                        <option value="VISCOSE/LYOCELL">
                        <option value="VISCOSE/MODAL/LYCRA">
                        <option value="VISCOSE/POLYESTER/ACRYLIC/LYCRA">
                        <option value="VISCOSE/POLYESTER/LYCRA">
                        <option value="W/P/ZENTA">
                        <option value="W/P/ZENTA/LYCRA">
                        <option value="WOOL">
                        <option value="WOOL/POLY/NAYLON/LYCRA">
                        <option value="WOOL/POLY/NYLON">
                        <option value="WOOL/POLY/SILK">
                        <option value="WOOL/POLY/VIS/LYCRA">
                        <option value="WOOL/POLYESTER/SORONA">
                        <option value="WOOL/SORONA">
                        <option value="WOOL/SORONA/POLYESTER">
                        <option value="WOOL/VISCOSE/ACRYLIC">
                    </datalist>
                </td>
                <td>
                    <input type="text" id="txtBlendDesc" value="" class="commontext">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="labelclass">Slub</label>
                </td>
                <td>
                    <select name="slub" id="slubdropdown" class="commonyarndropdown" onchange="updateSlub()">
                        <option selected value="">-- Select Slub --</option>
                        <option value="CENTURY SLUB">CENTURY SLUB</option>
                        <option value="INJECTION SLUB">INJECTION SLUB</option>
                        <option value="NANO SLUB">NANO SLUB</option>
                        <option value="SLUB">SLUB</option>
                        <option value="TWO TONE SLUB">TWO TONE SLUB</option>
                    </select>

                </td>
                <td>
                    <input type="text" id="txtSlub" value="" class="commontext">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="labelclass">Technique</label>
                </td>
                <td>
                    <select name="technique" id="techniquedropdown" class="commonyarndropdown" onchange="updateTechnique()">
                        <option selected value="">-- Select Technique --</option>
                        <option value="Ring Spun">Ring Spun</option>
                        <option value="Compact">Compact</option>
                    </select>

                </td>
                <td>
                    <input type="text" id="txtTechnique" value="" class="commontext">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="labelclass">Quality</label>
                </td>
                <td>
                    <select name="quality" id="qualityyarndropdown" class="commonyarndropdown" onchange="updateQuality()">
                        <option selected value="">-- Select Quality --</option>
                        <option value="Solid">Solid</option>
                        <option value="Milanche">Milanche</option>
                        <option value="Lycre">Lycre</option>
                        <option value="TBL Frosted">TBL Frosted</option>
                    </select>
                </td>
                <td>
                    <!-- <input type="text" value="" class="commontext" cols="2" rows="4"> -->
                    <input type="text" id="txtQuality" value="" class="commontext">
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="button" name="Submit" value="Submit" class="commonbutton">
                </td>
            </tr>
        </table>
    </form>
</div>

<script>
    const targetDiv = document.getElementById("hide");
    const targetDiv2 = document.getElementById("show");
    const btn = document.getElementById("mybtn");
    btn.onclick = function () {
        if (targetDiv.style.display !== "none" || targetDiv2.style.display == "none") {
            targetDiv.style.display = "none";
            targetDiv2.style.display = "block";
            $("#mybtn").html('Back');
        } else {
            targetDiv2.style.display = "none";
            targetDiv.style.display = "block";
            $("#mybtn").html('Customized Yarn');
        }
    };
</script>

<script>
    function updateGdType() {
        var gdtypedropdown = document.getElementById("gdtypedropdown");
        var selection = gdtypedropdown.value;
        console.log(selection);
        var gdtypeTextField = document.getElementById("txtGdType");
        gdtypeTextField.value = selection;
    }

    function updatePly() {
        var ply = document.getElementById("plydropdown");
        var selection1 = ply.value;
        console.log(selection1);
        var plyTextField = document.getElementById("txtPly");
        plyTextField.value = selection1;
    }

    function updateCount() {
        var count = document.getElementById("countdropdown");
        var selection2 = count.value;
        console.log(selection2);
        var countTextField = document.getElementById("txtCount");
        countTextField.value = selection2;
    }

    function updateCountType() {
        var counttype = document.getElementById("counttypedropdown");
        var selection3 = counttype.value;
        console.log(selection3);
        var counttypeTextField = document.getElementById("txtCountType");
        counttypeTextField.value = selection3;
    }

    function updateBlendDescription() {
        var blenddesc = document.getElementById("blenddropdown");
        var selection4 = blenddesc.value;
        console.log(selection4);
        var blenddescTextField = document.getElementById("txtBlendDesc");
        blenddescTextField.value = selection4;
    }

    function updateStretchType() {
        var stretchtype = document.getElementById("stretchdropdown");
        var selection5 = stretchtype.value;
        console.log(selection5);
        var stretchtypeTextField = document.getElementById("txtStretchType");
        stretchtypeTextField.value = selection5;
    }

    function updateSlub() {
        var slub = document.getElementById("slubdropdown");
        var selection6 = slub.value;
        console.log(selection6);
        var slubTextField = document.getElementById("txtSlub");
        slubTextField.value = selection6;
    }

    function updateTechnique() {
        var technique = document.getElementById("techniquedropdown");
        var selection7 = technique.value;
        console.log(selection7);
        var techniqueTextField = document.getElementById("txtTechnique");
        techniqueTextField.value = selection7;
    }

    function updateQuality() {
        var quality = document.getElementById("qualityyarndropdown");
        var selection8 = quality.value;
        console.log(selection8);
        var qualityTextField = document.getElementById("txtQuality");
        qualityTextField.value = selection8;
    }

</script>

