@{
    ViewBag.Title = "Home Page";

    
}
<br />
<br />
<br />
<br />
<h1><center>Garments</center></h1>
<div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay":false, "imagesLoaded":true }'>
    <div class="carousel-cell">
        <img class="w3-image" src="~/web/images/typesofgarments/Trouser1.jpeg" alt="">
    </div>
    <div class="carousel-cell">
        <img class="w3-image" src="~/web/images/typesofgarments/Trouser1.jpeg" alt="">
    </div>
    <div class="carousel-cell">
        <img class="w3-image" src="~/web/images/typesofgarments/Trouser1.jpeg" alt="">
    </div>

    <div class="carousel-cell">
        <img class="w3-image" src="~/web/images/typesofgarments/Trouser1.jpeg" alt="">
    </div>
    <div class="carousel-cell">
        <img class="w3-image" src="~/web/images/typesofgarments/Trouser1.jpeg" alt="">
    </div>
    <div class="carousel-cell">
        <img class="w3-image" src="~/web/images/typesofgarments/Trouser1.jpeg" alt="">
    </div>
</div>

<br />
<br />

<h1><center>Fabric</center></h1>
<div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay":false, "imagesLoaded":true }'>
    <div class="carousel-cell">
        <img class="w3-image" src="~/web/images/typesoffabric/Fabric1.jpg" alt="">
    </div>
    <div class="carousel-cell">
        <img class="w3-image" src="~/web/images/typesoffabric/Fabric1.jpg" alt="">
    </div>
    <div class="carousel-cell">
        <img class="w3-image" src="~/web/images/typesoffabric/Fabric1.jpg" alt="">
    </div>

    <div class="carousel-cell">
        <img class="w3-image" src="~/web/images/typesoffabric/Fabric1.jpg" alt="">
    </div>
    <div class="carousel-cell">
        <img class="w3-image" src="~/web/images/typesoffabric/Fabric1.jpg" alt="">
    </div>
    <div class="carousel-cell">
        <img class="w3-image" src="~/web/images/typesoffabric/Fabric1.jpg" alt="">
    </div>
</div>

<br />
<br />
<div>
    <h1><center>Yarns</center></h1>
    <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay":false, "imagesLoaded":true }'>
        <div class="carousel-cell">
            <img class="w3-image" src="~/web/images/typesofyarns/Yarn1.jpeg" alt="">
        </div>
        <div class="carousel-cell">
            <img class="w3-image" src="~/web/images/typesofyarns/Yarn1.jpeg" alt="">
        </div>
        <div class="carousel-cell">
            <img class="w3-image" src="~/web/images/typesofyarns/Yarn1.jpeg" alt="">
        </div>

        <div class="carousel-cell">
            <img class="w3-image" src="~/web/images/typesofyarns/Yarn1.jpeg" alt="">
        </div>
        <div class="carousel-cell">
            <img class="w3-image" src="~/web/images/typesofyarns/Yarn1.jpeg" alt="">
        </div>
        <div class="carousel-cell">
            <img class="w3-image" src="~/web/images/typesofyarns/Yarn1.jpeg" alt="">
        </div>
    </div>
</div>

 
