body
{
    font-family: sans-serif;
    background: -webkit-linear-gradient(to right, #ffffff, #ffffff);
    background:  linear-gradient(to right, #ffffff, #ffffff);
    color: whitesmoke;
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
}

button {
    background-color: #030804;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}


h1 {
    text-align: right;
}

form {
    width: 35rem;
    margin: auto;
    color: rgb(7, 7, 144);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(31, 188, 235, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(20, 78, 172, 0.125);
    font-style: bold;
}

input {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 20px;
    box-sizing: border-box;
}


button {
    background-color: #0d1879;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}


.headingsContainer{
    text-align: center;
}
.mainContainer{
    padding: 14px;
    align-items: right;
}

.mainContainer1{
    padding: 14px;
    align-items: right;
}


.subcontainer{
    display: flex;
    flex-direction: row;
    /* align-items: left; */
    justify-content: space-between;
}

.subcontainer a{
    font-size: 16px;
    margin-bottom: 12px;
}


span.forgotpsd a {
    float: right;
    color: whitesmoke;
    padding-top: 16px;
}

.forgotpsd a{
    color: rgb(5, 11, 127);
}

.forgotpsd a:link{
    text-decoration: none;
}


.register{
    color: rgb(0, 0, 0);
    text-align: right;
}

.register a{
    color: rgb(5, 11, 127);
}

.register a:link{
    text-decoration: none;
}

/* Media queries for the responsiveness of the page */
@media screen and (max-width: 600px) {
    form{
        width: 25rem;
    }
}


@media screen and (max-width: 400px) {
    form {
        width: 20rem;
    }
}