body {
    background: #ffffff;
    color: black;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.dropdown {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 9999;
    /* top: 0; */
    color: black;
}

nav {
    height: 75px;
    background: #ffffff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.logo {
    padding: 5px 0 0 60px;
    width: 335px;
    height: 70px;
}

nav ul {
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 60px;
    margin-top: 6px;
}

    nav ul li {
        background: white;
        position: inherit;
        list-style: none;
        display: inline-block;
    }

        nav ul li a {
            display: block;
            padding: 0 20px;
            color: #08417b;
            text-decoration: none;
            line-height: 60px;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
        }
    /* nav ul li a:hover{
    background: #243324;
} */
    nav ul ul {
        position: absolute;
        top: 60px;
        display: none;
    }

    nav ul li:hover > ul {
        display: block;
    }

    nav ul ul li {
        width: 132px;
        float: none;
        display: list-item;
        position: relative;
    }

    nav ul ul ul li {
        position: relative;
        top: -60px;
        left: 150px;
    }

figure img {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

figure:hover img {
    /* -webkit-transform: scale(1.3);
    transform: scale(1.3); */
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
/* ======== End [Yarn,Fabric,Garments] Pages Image Hovering 10 Jan 2023 ========== */
/* ======== End [Yarn,Fabric,Garments] Pages Image Hovering 16 Jan 2023 ========== */

/* ========= Slideshow Container 11 JAN 2023 ========= */
.slideshow-container {
    max-width: fit-content;
    margin-top: 50%;
    position: absolute;
    margin: 100px;
}
/* ========= Slideshow Container 11 JAN 2023 ======== */


.active, .dot:hover {
    background-color: #717171;
}

/* ======= Fading Animation ====== */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

/* ================ Start Cart Page CSS 19 JAN 2023 =================== */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    color: black;
}

td {
    padding: 5px;
}

td input {
    width: 30%;
    height: 30px;
}

/* ================ End Cart Page CSS 19 JAN 2023 ==================== */

/* -------- Fabric Start Dropdown 25 JAN 2023 --------- */
.qualityndropdown {
    width: 10%;
    color: #08417b;
    /* background-color: #ffffff; */
    margin-left: 3%;
    margin-right: 0.5%;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.pricerangedropdown {
    width: 10%;
    color: #08417b;
    background-color: #ffffff;
    margin-right: 0.5%;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.blenddesvaluedropdown {
    width: 15%;
    color: #08417b;
    background-color: #ffffff;
    margin-right: 0.5%;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.weavetypedropdown {
    width: 8%;
    color: #08417b;
    background-color: #ffffff;
    margin-right: 0.5%;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.weightgsmdropdown {
    width: 9%;
    color: #08417b;
    background-color: #ffffff;
    margin-right: 0.5%;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.stretchdropdown {
    width: 9%;
    color: #08417b;
    background-color: #ffffff;
    margin-right: 0.5%;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.designdropdown {
    width: 9%;
    color: #08417b;
    background-color: #ffffff;
    margin-right: 0.5%;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.searchbutton {
    width: 2%;
    background-color: #78e8de;
    border-color: whitesmoke;
    margin-right: 0.5%;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.customizedbutton {
    width: 12%;
    background-color: #beb6b6;
    /* font-weight: bold; */
    height: 25px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.commondropdown {
    width: 70%;
    color: black;
    background-color: #cdd2d9;
   /* font-weight: bold;*/
    height: 30px;
    margin-right: none;
}

.commontext {
    width: 45%;
    color: black;
    background-color: whitesmoke;
    /*font-weight: bold;*/
    height: 30px;
    border-width: 1px;
    margin-right: none;
}

.commontextarea {
    width: 60%;
    color: black;
    background-color: whitesmoke;
   /* font-weight: bold;*/
    height: 60%;
}

.commonbutton {
    width: 30%;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    /*background-color: #36e95c;*/
    font-weight: bold;
    height: 30px;
}


.labelclass {
    width: 45%;
    color: black;
    /* background-color: whitesmoke; */
   /* font-weight: bold;
    height: 30px;*/
    margin-left: 50%;
    margin-right: none;
}

.labelmeter {
    width: 45%;
    color: black;
    /*font-weight: bold;*/
    height: 30px;
    margin-left: 1%;
    margin-right: none;
}

.table, th, tr, td {
    /* border: 1px black solid; */
    text-align: left;
    margin-left: 0%;
     width: 80px; 
}

/* .multidropdown {
    position: fixed;
} */
/* -------- End of Dropdown 25 JAN 2023 ------- */
/* ------- End of table textarea 27 JAN 2023 -- */


/* -------- Yarn Start Dropdown 07 FEB 2023 --------- */
.gdtypedropdown {
    width: 6%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 7%;
    margin-right: 0.5%;
    height: 25px;
}

.plydropdown {
    width: 6%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.5%;
    height: 25px;
}

.countdropdown {
    width: 6%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.5%;
    height: 25px;
}

.counttypedropdown {
    width: 7.5%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.5%;
    height: 25px;
}

.blenddescription {
    width: 15%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.5%;
    height: 25px;
}

.slubdropdown {
    width: 7.5%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.5%;
    height: 25px;
}

.techniquedropdown {
    width: 7.5%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.5%;
    height: 25px;
}

.qualityyarndropdown {
    width: 7.5%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.5%;
    height: 25px;
}


.commonyarndropdown {
    width: 50%;
    color: black;
    background-color: #cdd2d9;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 30px;
    margin-right: none;
}

.customizedgarmentsbutton {
    width: 15%;
    background-color: #717171;
    font-weight: bold;
    height: 25px;
    font-size: 15px;
}
/* -------- Yarn End Dropdown 07 FEB 2023 --------- */

/* ------- Garments Start Dropdown 08 FEB 2023 ------- */
.categorydropdown {
    width: 6.5%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 18%;
    margin-right: 0.5%;
    height: 25px;
}

.productsdropdown {
    width: 6.5%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 0.5%;
    height: 25px;
}

.rangesdropdown {
    width: 6.5%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 0.5%;
    height: 25px;
}

.fabricblendsdropdown {
    width: 9%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 0.5%;
    height: 25px;
}

.fabrictypedropdown {
    width: 8%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 0.5%;
    height: 25px;
}

.seasondropdown {
    width: 6%;
    color: #08417b;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 0.5%;
    height: 25px;
}

.commongarmentsdropdown {
    width: 45%;
    color: black;
    background-color: #cdd2d9;
    font-weight: bold;
    height: 30px;
    margin-right: none;
}


.customizedgarmentsbutton {
    width: 15%;
    background-color: #beb6b6;
    font-weight: bold;
    height: 25px;
    font-size: 15px;
}

.labelgarmentsclass {
    width: 45%;
    color: black;
    font-weight: bold;
    height: 30px;
    margin-left: 50%;
}

.commontext {
    width: 45%;
    color: black;
    background-color: whitesmoke;
   /* font-weight: bold;*/
    height: 30px;
    border-width: 1px;
    margin-right: none;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}
/* ------- Garments End Drropdown 08 FEb 2023 -------- */

/* -------- Start Cart Section CSS 09 FEB 2023 ---------*/

/* ---------End of Cart Section CSS 09 FEB 2023 -------- */

/* --------- Start Login CSS 10 FEB 2023 --------- */
.logincontainer {
    position: center;
    top: 120px;
    right: 0;
    max-width: 300px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    margin-right: 50px;
}

.btnlogin {
    background-color: #435c75;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 120%;
    opacity: 0.9;
}

.btnlogin:hover {
    opacity: 1;
}

.inputlogin {
    width: 120%;
    padding: 16px 20px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    opacity: 0.9;
}


.inputlogin:focus {
     background-color: #ddd;
     outline: none;
}


/* --------- End of Login CSS 10 FEB 2023 -------- */
