@model BSLWeb.Models.clsRegistration
@{
    ViewBag.Title = "Register";

    <link rel="stylesheet" type="text/css" href="~/web/css/style.css" />

    <script>
        var ErrorMsg = '';
        function fn_Blank_Control() {
            $('#txtFirstName').val('');
            $('#txtLastName').val('');
            $('#txtMobileNo').val('');
            $('#txtEmailId').val('');
            $('#txtDob').val('');
            $('#txtCompanyName').val('');
            $('#txtCompanyAddress').val('');

            $('#txtPassword').val('');
            $('#txtRePassword').val('');
        }


        function Fn_Customer_Register() {
            debugger;
            var clsRegistration = {};
            clsRegistration.ErrorMsg = '';
            if ($('#txtFirstName').val() == '') {
                clsRegistration.ErrorMsg = "Pease Enter First Name";
            }

            else if ($('#txtLastName').val() == '') {
                clsRegistration.ErrorMsg = "Pease Enter Last Name";

            }
            else if ($('#txtMobileNo').val() == '') {
                clsRegistration.ErrorMsg = "Pease Enter Mobile Number";
            }
            else if ($('#txtEmailId').val() == '') {
                clsRegistration.ErrorMsg = "Pease Enter EmailId";
            }
            else if ($('#txtDob').val() == '') {
                clsRegistration.ErrorMsg = "Pease Enter DOB";
            }
            else if ($('#txtCompanyName').val() == '') {
                clsRegistration.ErrorMsg = "Pease Enter Company Name";
            }
            else if ($('#txtCompanyAddress').val() == '') {
                clsRegistration.ErrorMsg = "Pease Enter Address";
            }
            else if ($('#txtPassword').val() == '') {
                clsRegistration.ErrorMsg = "Pease Enter Password";
            }

            debugger;
            clsRegistration.CFirstName = $('#txtFirstName').val();
            clsRegistration.CLastName = $('#txtLastName').val(); clsRegistration
            clsRegistration.CMobileNo = $('#txtMobileNo').val();
            clsRegistration.CEmailId = $('#txtEmailId').val();
            clsRegistration.CDOB = $('#txtDob').val();
            clsRegistration.CCompanyName = $('#txtCompanyName').val();
            clsRegistration.CAddress = $('#txtCompanyAddress').val();
            clsRegistration.CActive = 1;
            clsRegistration.CPassword = $('#txtPassword').val();

            if (clsRegistration.ErrorMsg == '') {
                $.ajax({
                    type: "POST",
                    url: '/Registration/Fn_Registration',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    data: JSON.stringify(clsRegistration),
                    success: function (data) {
                        fn_Blank_Control();
                        if (data.success == true) {
                            //alert(data.ErrorMsg);
                            alert('Customer Added Successfully')
                        }
                        else {
                            alert('Customer Not Added')
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            }
            else {
                alert(clsRegistration.ErrorMsg);
            }
        }
    </script>
}


<br />
<br />
<br />
<h2>New Customer Registration</h2>
<table border="1">
    <tr>
        <td>
            <label>First Name</label>
        </td>
        <td>
            <input type="text" id="txtFirstName" name="fname" placeholder="Enter Your First Name" maxlength="15" required />
        </td>
    </tr>
    <tr>
        <td>
            <label>Last Name</label>
        </td>
        <td>
            <input type="text" id="txtLastName" name="lname" placeholder="Enter Your Last Name" maxlength="15" required />
        </td>
    </tr>
    <tr>
        <td>
            <label>Mobile No</label>
        </td>
        <td>
            <input type="tel" id="txtMobileNo" name="mno" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Enter Your Mobile Number" maxlength="14" required />
        </td>
    </tr>
    <tr>
        <td>
            <label>Email ID</label>
        </td>
        <td>
            <input type="email" id="txtEmailId" name="email" pattern="[a-z0-9._%+-]+[a-z0-9.-]+\.[a-z]{2,4}" placeholder="abc@gmail.com" required />
        </td>
    </tr>
    <tr>
        <td>
            <label>DOB</label>
        </td>
        <td>
            <input type="date" id="txtDob" name="dob" required />
        </td>
    </tr>
    <tr>
        <td>
            <label>Company Name</label>
        </td>
        <td>
            <input type="text" id="txtCompanyName" name="cname" placeholder="Enter Company Name" maxlength="50" required />
        </td>
    </tr>
    <tr>
        <td>
            <label>Address</label>
        </td>
        <td>
            <input type="text" id="txtCompanyAddress" name="address" placeholder="Enter Company Address" maxlength="300" required />
        </td>
    </tr>
    <tr>
        <td>
            <label>Password</label>
        </td>
        <td>
            <input type="password" id="txtPassword" name="pwd" placeholder="Enter Password" min="8" maxlength="16" required />
        </td>
    </tr>
    <tr>
        <td>
            <label>Re-enter Password</label>
        </td>
        <td>
            <input type="password" id="txtRePassword" name="repwd" placeholder="Re-Enter Password" min="8" maxlength="16" required />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @*<input type="button" name="Submit" onclick="SaveCustRegistration()" value="Submit" />*@
            <input type="button" name="Submit" onclick="Fn_Customer_Register();" value="Submit" />

        </td>
    </tr>
</table>